.fullComment {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #e0e7ff;
  width: 42rem;
  border-radius: 5px;
  margin: 20px 0;
  padding: 1rem;
  text-align: center;
}

.fullComment span {
  font-weight: bold;
  color: #4338ca;
}

.fullComment .deleteBtn{
  background-color: #e0e7ff;
  border: 1px solid red;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
